<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/images/favicon/favicon-96x96.png' | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon/favicon.svg' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | relative_url }}">
    <meta name="theme-color" content="#ffffff">
    {% seo %}
  </head>
  <body>
    <header class="site-header" role="banner">
      {% include header.html %}
    </header>
    <main id="content" class="container" role="main">
      {{ content }}
    </main>
    <footer class="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer>
  </body>
  </html>

